<div class="content">
	<div class="start_game" id="start_game_form">
		<label for="username">Nimimerkki</label>
		<br>
		<input type="text" name="username" id="username" maxlength='20' autofocus="true">
		<br><br>
		<button class="btn btn-primary" id="start_game_button" onclick='start_game()'>Aloita peli</button>
	</div>
</div>

<script>
	// Update chat messages every 5 seconds
	setInterval(function() {
		if ($("#chat_messages") && $("#message_field")) {
			$.ajax({
		        type  : 'POST',
		        data  : { "username" : $("#current_player_username").text() },
		        url   : "refresh_chat"
		    });
		}
	}, 5 * 1000);
</script>