<p>Alussa sinulla on käytössäsi 25 rahaa.</p>

<p>Voit valita panoksen 1-5.</p>

<p>Jos rahasi loppuvat, peli loppuu.</p>

<p>
	Jos lopetat pelin "Lopeta peli" -napista,<br> lopputulokseksi jää sen hetkinen rahasumma.<br>
	Tämä on ainut keino päästä High Scores -listalle.
</p>

<p>
	Voittolinjat ovat keskellä:<br>
	AAA, BBB, CCC tai ABC.<br>
	A on yleisin, C on harvinaisin.<br>
	Yhdeksän A:ta, B:tä tai C:tä tuottaa jackpotin.<br>
	# korvaa minkä tahansa merkin.<br>
</p>